.search {
    display: flex;
}
.search-icon {
    height: 20px;
    cursor: pointer;
}
.search-icon-container {
    padding: 10px;
    border-radius: 6px;
    margin-left: 4px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);  
}
.card-img-top{
    height: 240px;
}